/* This file is automatically loaded for all pages with `default` layout, simply because their names match. */

nav,
main {
  max-width: 60em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

main img {
  max-width: 50%;
  display: block;
  margin: auto;
}

header {
  background-color: white;
  padding: .5em;
  position: relative;
}

header .logo {
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
}

header .logo a {
  display: block;
  width: 5em;
  height: 2.5em;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}

header nav ul {
  text-align: right;
  list-style: none;
}

header nav li {
  display: inline;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border-radius: .2em;
  padding: .5em;
  margin-left: 1em;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

nav a.current {
  text-decoration: underline;
  font-weight: bold;
}

body ul {
  margin-left: 1.5em;
}