<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/global.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ site.baseurl }}/assets/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    {% if page.layout != 'default' %}
      <link href="{{ site.baseurl }}/assets/css/{{ page.layout }}.css" rel="stylesheet" type="text/css" media="all"/>
    {% endif %}
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">

    {% for file in page.additional_css %}
      <link rel="stylesheet" type="text/css" href="{% if file contains '://' %}{{ file }}{% else %}{{ site.baseurl }}/assets/css/{{ file }}{% endif %}"/>
    {% endfor %}

    {% include metadata.html %}
  </head>
  <body {% unless page.layout == 'default' %}class="layout-{{ page.layout }}"{% endunless %}>
    <header>
      <div class="logo">
        <a href="{{ '/' | relative_url }}">Epidemica</a>
      </div>
      <nav>
        <ul>
          {% for page in site.toplevel %}
          {% if page.title != "Epigames consent" %}          
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      Copyright 2025 <a href="https://co-labo.org/">&#9998; Colubri Lab</a>
    </footer>
  </body>
</html>
